@import url(../kaufman/__triangle/kaufman__triangle.css);
@import url(../section-title/_theme/_theme_dark/section-title_theme_dark.css);
@import url(../section-subtitle/_theme/_theme_dark/section-subtitle_theme_dark.css);
@import url(../table/__cell/_theme/_theme_dark/table__cell_theme_dark.css);
.kaufman {
  background-color: #1f1f1f;
  overflow: hidden;
  position: relative;
  padding-bottom: 90px;
  z-index: 1;
}
