.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  align-items: center;
  background-color: #F2F2F2;
   /* выше установили ограничения для секции */
}
.logo {
  z-index: 2;
  width: 183px;
}

.logo_place_header {
  position: absolute;
height: 32px;
top: 30px;
left: 64px;
}

.header__title {
margin-left: 64px;
padding: 0;
display: flex;
width: 730px;
z-index: 2;
font-size: 102px;
line-height: 96px;
font-weight: 550;
}

.header__subtitle {
  margin: 0;
  padding: 0;
  position: absolute;
  left: 64px;
  bottom: 30px;
  width: 388px;
  z-index: 2;
  line-height: 25px;
}

.header__main-illustration {
  position: absolute;
  width: 765px;
  height: 608px;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.header__square-pic {
  position: absolute;
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  z-index: 0;
  right: 0;
  top: 64px;
}

.two-columns {
  display: flex;
  width: 80%;
  align-items: center;
  margin: 0 auto;
  padding: 0 auto;
  justify-content: space-between;
}

.description__two-columns {
  margin: 100px auto 70px;
}

.two-columns__brief {
  margin: 0;
  padding: 0;
  width: 175px;
  font-size: 18px;
  line-height: 1.2;
  align-self: baseline;
  color: #2f80ed;
  font-weight: normal;
}
.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  margin: 0 0 30px;
  padding: 0;
  font-size: 24px;
  line-height: 34px;
}

.two-columns__span-accent {
  font-weight: bolder;
}


.section-title {
  margin: 0 auto;
  padding: 0;
  width: 60%;
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bolder;

}

.section-subtitle {
  margin: 20px auto 60px;
  padding: 0;
  width: 60%;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.main-table {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.table {
  width: 1100px;
  margin: 0 auto 40px;
  padding: 0;
}

.table__cell {
  width: 250px;
  padding: 0;
  margin: 0;
  vertical-align: top;
}

.table__heading {
  margin: 0;
  padding: 0 0 20px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bolder;
}

.table__text {
  margin: 0 0 20px;
  padding: 0;
  line-height: 1.2;
  font-size: 18px;
  box-sizing: border-box;
}

.table__bank {
  margin: 0 0 60px;
  padding: 0;
}

.feynman {
  position: relative;
  height: 790px;
  background-color: #F2F2F2;
  z-index: 1;
}

.feynman__title {
  width: 648px;
  margin: 0 auto 70px;
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bolder;
}

.feynman__subtitle {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
}

.feynman__img {
  position: absolute;
  width: 867px;
  height: 637px;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.kaufman {
  background-color: #1f1f1f;
  overflow: hidden;
  position: relative;
  padding-bottom: 90px;
  z-index: -1;
}

.section-title_theme_dark {
  color: white;
  padding-top: 90px;
}

.section-subtitle_theme_dark {
  color: white;
}

.table__cell_theme_dark {
  width: 200px;
  margin-right: 0;
  margin-top: 80px;
  color: white;
}

.kaufman__triangle {
  width: 877px;
  height: 877px;
  position: absolute;
  z-index: -1;
  top: 0;
  right: -210px;
  background-image: url(../images/kaufman-triangle.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

.footer {
  background-color: #1f1f1f;
  padding: 60px 0 40px;
  box-sizing: content-box;
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
}

.footer__columns {
  min-height: 250px;
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.footer__column {
display: flex;
flex-direction: column;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  justify-content: space-between;

}

.logo_place_footer {
  display: flex;
  height: 35px;
}

.footer__author {
line-height: 25px;
font-size: 18px;
font-weight: normal;
}

.footer__column-heading {
margin: 0 0 20px;
line-height: 30px;
font-size: 18px;
font-weight: bolder;
}

.footer__column-links {
  margin: 0 0 16px;
  padding: 0;
  list-style: none;
  line-height: 30px;
font-size: 18px;
font-weight: normal;
}
.footer__column-link {
  text-decoration: none;
  color: white;
}
.footer__social-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
